on early-init
    start ueventd

on init
    export PATH /sbin
    export LD_LIBRARY_PATH .:/sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /system
    mkdir /data
# ZTE_CIQ_ZHANGQINGLI start 
    mkdir /zteforatt
# ZTE_CIQ_ZHANGQINGLI end  
    mkdir /cache
    mount /tmp /tmp tmpfs
	
    # wait the last partition necessary for recovery
    wait /dev/block/mmcblk0p23

    symlink /data/misc/wifi/.rfdata.dat /etc/firmware/ath6k/AR6003/hw2.1.1/.rfdata.dat

on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

	# Force the softkey backlight on
	write /sys/class/leds/button-backlight/brightness 255

service ueventd /sbin/ueventd
    critical

service console /sbin/sh
    class core
    console
    disabled
    group log

on property:ro.debuggable=1
    start console

service rmt_storage /sbin/rmt_storage_recovery
    user root

service recovery /sbin/recovery

service adbd /sbin/adbd recovery
    disabled

# Always start adbd on userdebug and eng builds
on property:ro.debuggable=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18D1
    write /sys/class/android_usb/android0/idProduct D001
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/enable 1
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    start adb
    setprop service.adb.root 1

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1
